<div class="relative text-white">
    <h4 class="poppins-semibold text-[48px]">Iniciar sesión</h4>
    <p class="poppins-regular text-[14px] max-w-[360px] mr-10">
        Nos alegra tenerte de vuelta y estamos listos para atender tus necesidades. Inicia sesión y continúa
        aprovechando al
        máximo nuestra plataforma.
    </p>

    <ul class="flex flex-col gap-4 mt-6 poppins-regular text-[14px]">
        <li class="flex">
            <div class="mr-4">
                <img class="" src="assets/svg/item-login-1.svg" alt="">
            </div>
            <div>
                <p>Monitoreo integral</p>
                <p>Administra, monitorea mutiples plantas de forma centralizada</p>

            </div>
        </li>
        <li class="flex">
            <div class="mr-4">
                <img src="assets/svg/item-login-2.svg" alt="">
            </div>
            <div>
                <p>Notificaciones en tiempo real</p>
                <span>Recibi notificaciones en tiempo real sobre las mediciones</span>
            </div>
        </li>
    </ul>
</div>