<div class="flex justify-center items-center w-full min-h-screen">
    <form [formGroup]="registerForm" (submit)="submitRegister()" class="mt-8 max-w-[380px]">
        <div>
            <h6 class="text-center poppins-medium text-[25px] text-[--color-text-primary]">
                Registro
            </h6>
        </div>

        <!-- firstName -->
        <div class="relative z-0 w-full mb-5 group mt-5">
            <input type="text" name="floating_first-name" id="floating_first-name"
                class="block py-3 px-3 w-full text-base text-[--color-text-primary] bg-transparent border border-[#DCDBDD] rounded-xl appearance-none focus:outline-none focus:ring-0 peer"
                placeholder=" " required formControlName="firstName"
                [ngClass]="{'border-red-600':firstName.touched && firstName.invalid}" />
            <label for="floating_first-name"
                class="bg-[--backgroud-primary] px-1 left-0 peer-focus:font-medium absolute text-base text-[--color-text-secundary] duration-300 transform -translate-y-6 translate-x-3 scale-75 top-3 z-0 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Nombre
            </label>
            @if (firstName.touched && firstName.invalid) {
            <span class="pl-2 text-[13px] text-red-600"> Se requiere el nombre.</span>
            }
        </div>

        <!-- lastName -->
        <div class="relative z-0 w-full mb-5 group">
            <input type="text" name="floating_last-name" id="floating_last-name"
                class="block py-3 px-3 w-full text-base text-[--color-text-primary] bg-transparent border border-[#DCDBDD] rounded-xl appearance-none focus:outline-none focus:ring-0 peer"
                placeholder=" " required formControlName="lastName"
                [ngClass]="{'border-red-600':lastName.touched && lastName.invalid}" />
            <label for="floating_last-name"
                class="bg-[--backgroud-primary] px-1 left-0 peer-focus:font-medium absolute text-base text-[--color-text-secundary] duration-300 transform -translate-y-6 translate-x-3 scale-75 top-3 z-0 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Apellido
            </label>
            @if (lastName.touched && lastName.invalid) {
            <span class="pl-2 text-[13px] text-red-600"> Se requiere el apellido.</span>
            }
        </div>

        <!-- email -->
        <div class="relative z-0 w-full mb-5 group">
            <input type="email" name="floating_email" id="floating_email"
                class="block py-3 px-3 w-full text-base text-[--color-text-primary] bg-transparent border border-[#DCDBDD] rounded-xl appearance-none focus:outline-none focus:ring-0 peer"
                placeholder=" " required formControlName="email"
                [ngClass]="{'border-red-600':email.touched && email.invalid}" />
            <label for="floating_email"
                class="bg-[--backgroud-primary] px-1 left-0 peer-focus:font-medium absolute text-base text-[--color-text-secundary] duration-300 transform -translate-y-6 translate-x-3 scale-75 top-3 z-0 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Email
            </label>
            @if (email.touched && email.invalid) {
            <span class="pl-2 text-[13px] text-red-600"> Se requiere un email valido.</span>
            }
        </div>

        <!-- contraseña -->
        <div class="relative z-0 w-full mb-5 group">
            <input [type]="showPassword()?'text':'password'" name="floating_password" id="floating_password"
                class="block py-3 px-3 w-full text-base text-[--color-text-primary] bg-transparent border border-[#DCDBDD] rounded-xl appearance-none focus:outline-none focus:ring-0 peer"
                placeholder=" " required formControlName="password"
                [ngClass]="{'border-red-600':password.touched && password.invalid}" />
            <label for="floating_password"
                class="bg-[--backgroud-primary] px-1 left-0 peer-focus:font-medium absolute text-base text-[--color-text-secundary] duration-300 transform -translate-y-6 translate-x-3 scale-75 top-3 z-0 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                Contraseña
            </label>
            <!-- show password -->
            <button (click)="toggleVisiblePassword()" class="absolute right-4 top-5" type="button">
                <img src="assets/svg/eye-password.svg" alt="">
                <div [hidden]="!showPassword()"
                    class="absolute -top-1 right-2 border-l-2 border-[#84818A] h-5 rotate-45">
                </div>
            </button>

            <!-- login fallido -->
            @if (password.touched && password.errors?.["required"]) {
            <span class="pl-2 text-[13px] text-red-600">Contraseña requerida.</span>
            }
        </div>

        <div class="flex justify-between items-center mt-6">
            <div class="w-min">
                <!-- <button class="rounded-2xl bg-[--color-primary] px-4 py-3 text-white">Iniciar sesión</button> -->
                <button [disabled]="isSubmit()" type="button" (click)="cancel()" [ngClass]="{'opacity-70':isSubmit()}"
                    class="poppins-medium w-max border-black" appCustomBtn color="secundary"
                    text="black">Cancelar</button>
            </div>
            <div class="w-min">
                <!-- <button class="rounded-2xl bg-[--color-primary] px-4 py-3 text-white">Iniciar sesión</button> -->
                <button [disabled]="isSubmit()" type="submit" [ngClass]="{'opacity-70':isSubmit()}"
                    class="poppins-medium w-max" appCustomBtn color="primary" text="white">Registrarse</button>
            </div>
        </div>
    </form>
</div>