<div class="max-w-[370px] m-auto w-full sm:max-w-none">
    <!-- Titulo -->
    <div class="md:hidden">
        <h5 class="text-[16px] poppins-medium text-black">
            Resumen de planta
        </h5>
    </div>
    <!-- Lecturas globales -->
    <div class="grid grid-cols-1 w-full gap-3 sm:grid-cols-2 lg:grid-cols-4 sm:gap-6">

        <app-reading-card [icon]="'assets/svg/r-ok.svg'" [name]="'Lecturas OK'"
            [number]="globalReading().readingOK"></app-reading-card>
        <app-reading-card [icon]="'assets/svg/r-media.svg'" [name]="'Alertas medias'"
            [number]="globalReading().mediumAlerts"></app-reading-card>
        <app-reading-card [icon]="'assets/svg/r-red.svg'" [name]="'Alertas rojas'"
            [number]="globalReading().redAlerts"></app-reading-card>
        <app-reading-card [icon]="'assets/svg/r-s-disable.svg'" [name]="'Alertas deshabilitadas'"
            [number]="globalReading().disableSensors"></app-reading-card>

    </div>
    <!-- Plantas -->
    <div class="bg-white mt-6 rounded-lg p-6 ">
        <div class="pb-4 sm:px-2 md:border-b-2 md:border-[#F3F6F7] ">
            <span class="text-[18px] sm:text-[16px] text-black poppins-bold sm:poppins-semibold">
                Plantas
            </span>
            <div class="inline-block pl-8">

                <button (click)="showCreatePlant.set(true)"
                    class="text-[20px] font-semibold sm:text-[12px] sm:poppins-medium py-[4px] sm:py-1 rounded-md border-[#B0CAD1]"
                    appCustomBtn [color]="'outline'" [text]="'black'">
                    + <span class="hidden sm:inline">Crear nueva planta</span>
                </button>
            </div>
        </div>
        <div class="relative mt-2 h-[320px] overflow-y-auto">
            @if (loadingPlant()){
            <div class="flex justify-center items-center w-full h-full">
                <div class="flex flex-row justify-center items-center gap-2 z-10">
                    <div role="status" class="inline-block">
                        <svg aria-hidden="true" class="w-8 h-8 text-transparent animate-spin fill-[--color-primary]"
                            viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                                fill="currentColor" />
                            <path
                                d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                                fill="currentFill" />
                        </svg>
                    </div>
                    <span class="poppins-semibold text-[--color-primary]">
                        Cargando Plantas ...
                    </span>
                </div>
                <div class="absolute top-o left-0 w-full h-full bg-slate-400 opacity-20 rounded-xl z-0">
                </div>
            </div>
            }@else {
            <table class="w-full">
                <thead class="sticky top-0 bg-white z-10">
                    <tr class="hidden md:table-row text-[#B0CAD1] poppins-medium">
                        <th>
                            <div>
                                País
                            </div>
                        </th>
                        <th>
                            <div>
                                Nombre de la planta
                            </div>
                        </th>
                        <th>
                            <div>
                                Lecturas
                            </div>
                        </th>
                        <th>
                            <div>
                                Alertas medias
                            </div>
                        </th>
                        <th>
                            <div>
                                Alertas rojas
                            </div>
                        </th>
                        <th>
                            <div>
                                Acciones
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of plantList() ; track $index) {
                    <tr class="border-b border-[#EAEAEA] ">
                        <td class="hidden md:table-cell">
                            <div class="flex flex-row justify-start items-center">
                                <div class="border border-gray-300 border-1 shadow-md">
                                    <img class="w-5" [src]="item.country.flagImage" alt="bandera">
                                </div>
                                <div class="ml-2">
                                    <span>
                                        {{item.country.name}}
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="flex flex-row justify-start items-center md:hidden">
                                <div class="border border-gray-300 border-1 shadow-md">
                                    <img class="w-5" [src]="item.country.flagImage" alt="bandera">
                                </div>
                                <div class="ml-2">
                                    <span>
                                        {{item.country.name}}
                                    </span>
                                </div>
                            </div>
                            <div class="text-[#848484] text-[12px] poppins-regular md:text-black">
                                {{item.name}}
                            </div>
                        </td>
                        <td class="text-[#D70000] text-[14px] poppins-regular md:text-black">{{item.numberOfReadings}}
                        </td>
                        <td class="text-[#D70000] text-[14px] poppins-regular md:text-black">
                            {{item.numberOfMediumAlerts}}</td>
                        <td class="text-[#D70000] text-[14px] poppins-regular md:text-black">{{item.numberOfRedAlerts}}
                        </td>
                        <td>
                            <div>
                                <app-plant-action [plant-id]="item.id" (deleteEventEmitter)="deletePlant(item.id)"
                                    (updateEventEmitter)="actionUpdatePlant(item)"></app-plant-action>
                            </div>

                        </td>
                    </tr>
                    }@empty {
                    <tr>
                        <td colspan="6">
                            <div class="text-center pt-6">
                                No hay plantas registradas.
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </div>
    </div>

    <!-- Indicadores -->
    <div class="my-6 grid grid-cols-1 w-full gap-3 sm:grid-cols-2 lg:grid-cols-4 sm:gap-6">
        <app-indicator-card title="Temperatura" [ok]="100" [warning]="20" [alert]="30"
            icon="assets/svg/ind-temperature.svg"></app-indicator-card>
        <app-indicator-card title="Presión" [ok]="100" [warning]="20" [alert]="30"
            icon="assets/svg/ind-pressure.svg"></app-indicator-card>
        <app-indicator-card title="Viento" [ok]="100" [warning]="20" [alert]="30"
            icon="assets/svg/ind-wind.svg"></app-indicator-card>
        <app-indicator-card title="Niveles" [ok]="100" [warning]="20" [alert]="30"
            icon="assets/svg/ind-level.svg"></app-indicator-card>
        <app-indicator-card title="Energía" [ok]="100" [warning]="20" [alert]="30"
            icon="assets/svg/ind-energy.svg"></app-indicator-card>
        <app-indicator-card title="Tensión" [ok]="100" [warning]="20" [alert]="30"
            icon="assets/svg/ind-strain.svg"></app-indicator-card>
        <app-indicator-card title="Monóxido de carbono " [ok]="100" [warning]="20" [alert]="30"
            icon="assets/svg/ind-co2.svg"></app-indicator-card>
        <app-indicator-card title="Otros gases" [ok]="100" [warning]="20" [alert]="30"
            icon="assets/svg/ind-other-gases.svg"></app-indicator-card>

    </div>

</div>

<app-create-plant-modal [show-create-plant]="showCreatePlant" (newPlantEmitter)="ngOnInit()"></app-create-plant-modal>
<app-update-plant-modal [showModal]="showUpdatePlant" [plant]="selectedPlant"
    (updateEvent)="updatePlant($event)"></app-update-plant-modal>